# IDEs
.vscode/
.idea/

# __pycache__
__pycache__/
*/__pycache__/

# OSX
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# LaTeX
paper.aux
paper.bbl
paper.bcf
paper.blg
paper.fdb_latexmk
paper.fls
paper.glg
paper.glo
paper.gls
paper.ist
paper.lof
paper.lot
paper.log
paper.lol
paper.out
paper.run.xml
paper.synctex.gz
paper.toc
paper.xdv
*.swp
.DS_Store
*.log

# Don't push PDF as it's a binary and may result in a merge conflict
# Instead, build it locally via latexmk
paper.pdf
*.pdf

# Jebref
paper.bib.*
paper/pdfs/

# TODO
TODO
